---
generate: /docs/*
wrapper: wrappers/main
docsDir: md
---

<% if (locals.toc) { %>

<div class="font-bold text-size-xl bg-red-600 m-12 text-white p-2 rounded-sm">
  Table Of Contents
</div>

<div class="container p-12 m-12 flex flex-col">
  <%# Show table of contents %>
  <% pages.forEach(item=>{ %>
  <div class="mr-2 flex flex-row">
    <div><a class="airfryLink" href="/docs/<%= item.url %>/"><%= item.title %></a></div>
  </div>
  <% }); %>
</div>
<% } else { %>

<%# Show page %>
<div class="grid grid-cols-4">
  <div class="col-span-1">
    <% pages.forEach(item=>{ %>
    <div class="mr-2 flex flex-row">
      <div><a class="airfryLink" href="/docs/<%= item.url %>/"><%= item.title %></a></div>
    </div>
    <% }); %>
  </div>
  <div class="col-span-3">
    <div class="text-blue-600"><%= pageName %> <%= pagePath %></div>
    <%- html %>
  </div>
</div>

<% } %>

<script entry>
  // this is a test
</script>

<script generate-use:"generators/docsMD">
</script>